.motconvit{
    text-align: center;
    color: cadetblue;
    font-size: 20px;
}
h1{
    color: burlywood;
    font-size: 50px;
}
body{
    background: palegoldenrod;
    text-align: center;
    border: 5px solid pink ;
    border-radius: 50px;
}
img{
    border-radius: 50%;
}